"""Top-level package ``{{ project_package_name }}``."""
# Standard library
import importlib.metadata

metadata = importlib.metadata.metadata(__package__)

__author__ = "{{ author_full_name }}"
__email__ = "{{ author_email }}"
__version__ = importlib.metadata.version(__package__)

del importlib
