[settings]
default_section = THIRDPARTY
force_grid_wrap = false
force_single_line = true
line_length = 88
order_by_type = false
# Headings
import_heading_stdlib = Standard library
import_heading_thirdparty = Third-party
import_heading_firstparty = First-party
import_heading_localfolder = Local
# Known modules to avoid misclassification
known_standard_library =
known_first_party =
    {{ project_package_name }}
known_third_party =
    click,
    numpy,
    matplotlib
